//puntos de quiebre para media queries
/*$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;

//Fuente
//font-family: 'Vollkorn', serif;
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

$fuente: 'Vollkorn', serif;
$fuente-regular: 400;
$fuente-bold: 700;

//Colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #c4c7ca;
$white: #FFFFFF;
$coral: #ff7f50;*/