button {
    background-color: $ball-blue;
    color: $white;
    font-size: $small;
    font-weight: $bold;
    border-width: 0;
    letter-spacing: 0.1em;
}

.btn-regular {
    padding: 0.6rem 1rem;
    
    &:hover {
      background-color: $middle-blue;    
    }
    
    &:focus {
      background-color: $lavender-gray;
    }
}

.btn-large {
    padding: 0.8rem 6rem;
    background-color: $ball-blue;
    margin: 5%;
    
    &:hover {
      background-color: $middle-blue;
    }
    
    &:focus {
      background-color: $lavender-gray;
    }

    @media screen and (max-width: $bp-md) {
      margin: 5% auto;
    }

    @media screen and (max-width: $bp-sm) {
      padding: 0.8rem 4rem;
      margin: 5% auto;
    }
}