.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    padding: 2% 3.5%;
    width: 23.725%;
    //height: 30.84%;

    @media screen and (max-width: $bp-md) {
        width: 70%;
        margin: auto;
    }

    @media screen and (max-width: $bp-lg) {
        width: 50%;
        margin: auto;
    }

    &__title {
        border-bottom: solid 1px $nickel;
        font-family: $raleway;

        h1 {
            font-size: $xxx-large;
            margin-top: 1%;
            margin-bottom: 1.5%;
        }

        h3 {
            font-size: $x-large;
            font-weight: $regular;
            margin-top: 1.5%;
            margin-bottom: 1.5%;
        }

        @media screen and (max-width: $bp-md) {
            h3 {
                margin-top: 4.5%;
            }

            h1 {
                margin-bottom: 4.5%;
            }
        }
    }

    &__list {
        list-style: outside;
        padding-bottom: 1%;
    
        li {
            display: list-item;
            padding-top: 2.25%;
        } 
    }

    &__action {
        border-top: solid 1px $nickel;
        text-align: center;

        @media screen and (max-width: $bp-md) {
            text-align: center;
        }
    }
}