//grilla contenedor y bloques hijos
.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); 

    &__nav {
        grid-column: 1/6;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    
    /*&__main {
        grid-row: 2 / 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        /*@media screen and (max-width: $bp-md) {
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $bp-sm) {
            grid-column: 1 / 5;
            display: grid;
            grid-template-columns: 1fr;
        } */
    }
    /*&__footer {
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

        /*@media screen and (max-width: $bp-sm) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            display: none;
        }*/
    //}
//}

/*grila nav*/
.nav{
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr; 
    

    &__brand {
        grid-column: 1 / 2;
    }

    &__menuIzq {
        grid-column: 2 /5;
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;

        @media screen and (max-width: $bp-sm) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            display: none;
        }
    }

    
    &__menuDer {
        grid-column: 5/7;
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;

        @media screen and (max-width: $bp-sm) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            display: none;
        }
    }

    &__hamburg {
        @media screen and (max-width: $bp-xl) and (min-width: $bp-lg) {
            display: none;
        }
        @media screen and (max-width: $bp-lg) and (min-width: $bp-md) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            grid-column: 6/7;
        }
        @media screen and (max-width: $bp-sm) {
            grid-column: 6/7;
        }
    }
}
    
    
