//grilla contenedor y bloques hijos
.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    &__nav {
        grid-row: 1/5; 
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    
    &__main {
        grid-row: 2 / 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        /*@media screen and (max-width: $bp-md) {
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $bp-sm) {
            grid-column: 1 / 5;
            display: grid;
            grid-template-columns: 1fr;
        } */
    }
    &__footer {
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

        /*@media screen and (max-width: $bp-sm) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            display: none;
        }*/
    }
}

/*grila nav*/
/*.nav{
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    

    &__logo {
        grid-column: 1 / 2;
    }

    &__ul {
        grid-column: 2 /5;
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }

    &__aInvisi {
        @media screen and (max-width: $bp-sm) {
            display: none;
        }
        @media screen and (max-width: $bp-md) {
            display: none;
        }
    }
}*/
    
    
