.nav {
    padding-top: 2.5%;
    text-align: center;

    &__brand {
        padding-left: 2.5%;    
    }

    &__menuIzq {
        padding-right: 20%;
    }

    &__hamburg {
        padding-top: 7.5%;
    }
}
