/*.contenedor__nav{
    background-color: $eerie-black;
    padding: 0 30px ;}
.nav {
    &__logo {
        color: $white;
        text-transform: uppercase;
        font-size: 24px;
    }

    &__a {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
    }

    &__ul {
        margin-top: 30px;
        font-size: 19px;
    }

    &__aInvisi {
        text-decoration: none;
        color: $white;
        text-transform: uppercase
    }

    &__input {
        padding: 5px;
    }
}*/
