.nav {
    padding-top: 2.5%;
    text-align: center;
   
    &__brand {
        padding-left: 2.5%;    
    }

    &__menuIzq {
        padding-right: 20%;
    }

    &__menuDer {
        margin-top: 0;
    }

    &__hamburg {
        padding-top: 5%;
    }
}

.menuDer__item {
    padding-top: 15%;
}

.btn-regular {
    margin-top: 5%;
}


